.select {
	width: 240px;
	height: 34px;
	border-radius: 4px;
	background-color: #fff;
	color: #2e2e2e;
	font-family: Roboto;
	font-size: 16px;
	line-height: 1.57;
	text-transform: capitalize;
}

.selectContainer {
	display: flex;
	padding: 0px 0px 20px 100px;
	flex-grow: 1;
	flex-shrink: 1;
	align-items: center;
}

@media only screen and (max-width: 720px) {
	.select {
		padding: 0;
		margin: 0;
	}

	.selectContainer {
		display: flex;
		padding: 0;
		justify-content: center;
		flex-grow: 1;
		flex-shrink: 1;
		align-items: center
	}

}