* {
	border: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	scrollbar-width: none;
}

body {
	background-color: rgb(251, 251, 251);
}

.container {
	padding-inline: 100px;
}

.option {
	font-size: 14px;
	display: flex;
	align-items: center;
	font-weight: 500;
}

.optionLabel {
	margin-left: 4px;
}