* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  background-color: rgb(251, 251, 251);
}

.container {
  display: flex;
  padding: 20px 100px;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
}

.selectContainer {
  display: flex;
  padding: 0px 0px 20px 100px;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
}

.option {
  font-size: 14px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.optionLabel {
  margin-left: 4px;
}